// $primary-1 : #001933;
// $primary-2 : #003166;
// $primary-3 : #004a99;
// $primary-4 : #0063cc;
// $primary-5 : #007bff;
// $primary-6 : #3396ff;
// $primary-7 : #66b0ff;
// $primary-8 : #99caff;
// $primary-9 : #cce5ff;
// $primary-10 : #e5f2ff;

$primary-1 : #272e4e;
$primary-2 : #30385F;
$primary-3 : #5255A3;
$primary-4 : #8284C0;
$primary-5 : #9294C8;
$primary-6 : #A3A5D1;
$primary-7 : #B4B6D9;
$primary-8 : #C5C7E2;
$primary-9 : #D6D8EA;
$primary-10 : #E7E9F3;
